

	<div id="wrapper">
		<div id="items">
			<h1>Outtimed</h1>
			<br>
			<input type="text" name="nice" id="nice">
			<div id="map_canvas" style="width:350px; height:425px; margin:auto;">
			</div>
		</div>

	</div>

<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">

    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var mapOptions = {
      zoom: 14,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);


	$( function() {
		$("#nice").typeahead({
			source : function(query, typeahead) {
				geocoder.geocode({
					"address" : query
				},
				function(data, status) {
					response = data
					var arr = new Array()

					for(var key in data) {
						value = data[key]
						arr[key] = value.formatted_address
					}
					typeahead.process(arr)
				})

/*
				$.ajax({
					url : "https://maps.googleapis.com/maps/api/place/autocomplete/json",
					data : {
						"input" : query,
						"sensor": "false",
						"key" 	: "AIzaSyB1HS6CYrb5nTtaQ-bZPtzlFRzyi09Nktw"
					},
					success : function(data) {
						document.write(data)
					}
				})*/
			},
			onselect : function(val, typeahead) {
				for(var key in typeahead.source) {
					var value = typeahead.source[key]
					if( val == value) {
						var selectedObject = response[key]
						console.log(selectedObject.geometry.location)
				        map.setCenter(selectedObject.geometry.location);
				        var marker = new google.maps.Marker({
				            map: map,
				            position: selectedObject.geometry.location
				        });
					}
				}
			}
		});




	})/*
  var geocoder;
  var map;
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var mapOptions = {
      zoom: 8,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
  }

  function codeAddress() {
    var address = document.getElementById("address").value;
    geocoder.geocode( { 'address': address}, function(results, status) {
    	console.log(results)
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
*/

</script>