/* Dar dimesion 100% de width y height a body para que el contenido se pueda ajustar automaticamente en altura utilizando top, bottom y height:auto*/
body {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -3;
	overflow: hidden;
}

/* Definicion del header */

#fe-header {
	display: block;
	background-color: #EEE;
	height: 80px;
	width: auto !important;
	padding: 10px 40px 5px 40px;
	vertical-align: middle;
}

	#fe-logo{

	}

	#fe-headlogin {
		background-color: #DDD;
		width: 300px;
		height: 65px;
		margin: 10px 0;
		float: right;
	}

	#fe-head-whereiam {
		background-color: #DDD;
		width: 300px;
		height: 45px;
		margin: 20px 10px;
		float: right;
		color: black;
		position: relative;
	}

	#fe-head-whereiam p {
		position: relative;
		top: 15px;
		left: 10px;
	}

/* Barra superior */
#fe-navbar {
	background-color: #333;
	color: white;
	padding: 0 30px;
	width: auto;
	display: block;
	position: relative;
	height: 35px;
}
	#fe-navbar ul {
		padding: 0;
		margin: 0;
		position: relative;
		height: 100%;
	}

	#fe-navbar ul li {
		display: inline-block;
		height: 100%;
		position: relative;
		-moz-transition: all 0.3s;
	}
	#fe-navbar ul li:hover {
		background-color: #EEE;
	}
	#fe-navbar ul li:hover p {
		color: black;
		text-shadow: -1px 0px 0 white;
	}

		#fe-navbar ul li p {
			color: white;
			text-decoration: none;
			padding: 10px 10px 0 10px;
			margin: 0;
			text-shadow: -1px 0px 0 #555;
			-moz-transition: all 0.3s;
		}

	#AddEventButton {
		float: right;
	}

/* Definicion del contenido */
#fe-content {
    background-color: #EEE;
    bottom: 35px;
    display: block;
    height: auto;
    position: absolute;
    top: 130px;
    z-index: -2;
    width: 100%;
}

	/* Contenedor del formulario izquierdo */
	#fe-rightform {
		width: 250px;
		height: 100%;
		position: absolute;
		right: 0;
		background-color: #EEE;
		z-index: -2;
		padding: 10px 40px 10px 10px;
		overflow: auto;
	}
		#fe-rightform .rightform-field {
			width: 250px;
			position: relative;
			float: left;
		}
			#fe-rightform .rightform-field *{
				right: 0;
			}
			#fe-rightform .rightform-field input[type="text"],#fe-rightform .rightform-field input[type="date"],#fe-rightform .rightform-field input[type="url"] {
				width: 180px;
				float: right;
				right: 0px;
			}
			#fe-rightform .rightform-field label {
				position: relative;
				top: 10px;
			}
			#fe-rightform .rightform-field textarea {
				margin: 10px 0 0 0;
				height: 150px;
				width: 238px;
			}
		#fe-rightform input[type="submit"] {
			float: right;
			border: 1px solid #BBB;
			border-radius: 3px;
			-moz-transition: all 0.3s;
			padding: 3px;
			margin: 5px 0 0 0;
		}
		#fe-rightform input[type="submit"]:hover {
			border: 1px solid #071443;
			box-shadow: 0 0 5px #3da1da;
			background-color: #F5F5F5;
		}

	/* Contenedor para el mapa */
	#fe-map {
		position: absolute;
		width: auto;
		left: 300px;
		right:300px;
		height: 100%;
		background-color: white;
		z-index: -1;
		/*box-shadow: 0 0 10px #777;*/
		outline: 1px solid #BBB;
		/*background-image: url("../images/captura4.jpg");
		background-size: 100% 100%;*/
		/* Animar para tapar los formularios */
		
	}

	/* Contenedor del contenedor izquierdo con el calendario, etc */
	#fe-leftcontainer {
		width: 250px;
		height: 100%;
		position: absolute;
		left: 0;
		background-color: #EEE;
		z-index: -2;
		padding: 10px 10px 10px 40px;
		overflow: auto;
	}

		/* Calendar widget inside leftcontainer -lc-*/
		#fe-lc-calendar {
			width: 100%;
			background-color: #DDD;
			height: 180px;
			margin-bottom: 10px;
		}

		/* Schedule widget inside leftcontainer -lc-*/
		#fe-lc-schedule {
			background-color: #DDDDDD;
		    bottom: 30px;
		    height: auto;
		    position: absolute;
		    top: 200px;
		    width: 250px;
		}

/*Pagina dos donde cargar los eventos */
#fe-content2 {
	background-color: #333;
    display: block;
    height: 100%;
    position: absolute;
    top: 99%;
    z-index: 2;
    width: auto;
    left: 300px;
    right: 0;
    -moz-transition: all 0.5s;
}
	#fe-content2:hover {
		top:130px;
	}


/* Definicion del Footer */
#fe-footer {
	width: 100%;
	background-color: #333;
	color: #BBB;
	position: absolute;
	bottom: 0;
	height: 35px;
}
	#fe-footer p {
		margin: 10px 0 0 40px;
	}

/* Cambios de screen.css de blueprint */

input[type="text"], input[type="password"], input[type="url"], input[type="email"], input.text, input.title, textarea, select {
	border-radius: 3px;
	-moz-transition: all 0.3s;
}
input[type="text"]:hover, input[type="password"]:hover, input[type="url"]:hover, input[type="email"]:hover, input.text:hover, input.title:hover, textarea:hover, select:hover {
	border: 1px solid #3da1da;
	box-shadow: 0 0 5px #3da1da;
}

label {
	text-shadow: -1px 0 0 #EEEEEE;
	position: relative;
	left: 1px;
}


/* Debug en construccion para maquetación */

.in-construction {
	-moz-transition: all 0.3s;
	color: #CCC;
}
.in-construction:hover {
	background: none;
	background-color: #EEE !important;
}