

@color1: #DDDDDD; //Background
@color2: #666; //Color titulo
@color3: #222; /*#116492; // Color 4 del titulo*/
@colorDaysWeekCalendar: @color2;

@color4Erasmus4: @color3;
@color4ErasmusErasmus: @color2;

@colorGreen: #b4d436;
@colorYellow: #ffdf47;
@colorRed: #d43636;
@colorBlue: #0096C1;
